html,
body,
.App,
#root,
.body-container {
  height: 100%;
  width: 100%;
}
.body-container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  width: auto;
}

.bar-container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bar {
  /* border: solid black 1px; */
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  height: 100%;
  transition: all 0.3s ease;
  background-color: black;
}

.barCh {
  background-color: chartreuse;
}

.slider {
  max-width: 250px;
}

.menu {
  /* margin-top: 16px; */
}

.header-text {
  font-family: "Space Mono", monospace;
  margin-top: 16px;
}

.bar-ctr {
  display: flex;
  align-self: center;
}

.btn {
  margin: 8px;
}
